@layer base {
  @font-face {
    font-family: "OctalFont Titan";
    src: url("../assets/fonts/OctalFont-Titan[wght].woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter[wght].woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrains-Mono[wght].woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
  }
}
