@import "tailwindcss";
@import "tw-animate-css";

@import "./fonts.css";
@import "./theme.css";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer base {
  .js-enabled *,
  .js-enabled ::before,
  .js-enabled ::after {
    cursor: none !important;
  }

  .no-js *,
  .no-js ::before,
  .no-js ::after {
    cursor: auto !important;
  }

  .no-js a,
  .no-js button,
  .no-js [role="button"] {
    cursor: pointer !important;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.15s ease-out;
  }

  :focus-visible {
    outline: 2px solid color-mix(in oklch, var(--ring), transparent 50%);
    outline-offset: 2px;
  }

  ::selection {
    background-color: var(--foreground);
    color: var(--background);
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: content-box;
    /* noinspection CssUnresolvedCustomProperty */
    background-color: hsl(
      var(--app-content1) / var(--app-content1-opacity, var(--tw-bg-opacity))
    ); /* Generated color */
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
    text-rendering: optimizeLegibility;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

@layer utilities {
  .transition-opacity-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .transition-opacity-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}
